body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer {
  background-color: #1F2937;
}

.body {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.headercontainer {
  color: #F9FAF8;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  margin: 8px 8px 16px;
}

.headertop {
  padding: 16px 0;
  display: flex;
}

.headertop .title {
  font-size: 24px;
  font-weight: 1000;
  margin: 0;
  padding: 0;
}

.links {
  display: flex;
  gap: 48px;
  padding: 0;
  margin: 0 0 0 auto;
  list-style: none;
  align-items: center;
}

.headerbottom {
  display: flex;
  margin: auto 0;
  padding: 32px 0px;
}

.second {
  background-color: #E5E7EB;
}

.signup {
  background-color: #3882F6;
  padding: 8px 32px;
  border: none;
  Font-weight: bold;
  color: #E5E7EB;
  border-radius: 8px;
}

.headercontent {
 flex: 1 1 1;
 width: 50%;
}

.headercontent .title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 800;
}

.logo {
  background-color: #d4d5d63f;
  flex: 1 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 4px solid #3882F6;
}

.contentcontainer {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenttitle {
  padding: 32px 32px 16px;
  font-size: 36px;
  font-weight: 1000;
  color: #1F2937;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  padding: 16px 32px 32px;
}

.card {
  width: 200px;
  text-align: center;
}

.body.content.second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middlecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 128px 32px;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  max-width: 1000px;
}

.author {
  align-self: flex-end;
  font-size: 16px;
  font-weight: 800;
  color: #1F2937;
}

.body.content.third {
  padding: 96px;
}

.call {
  padding: 16px 64px;
  min-width: 60%;
  min-height: 140px;
  background-color: #3882F6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callcontainer {
  display: flex;
  justify-content: space-between;
  min-width: 80%;
  color: #E5E7EB;
}

.callcontainer button {
  background-color: #3882F6;
  border-radius: 8px;
  padding: 8px 32px;
  border: 2px solid #E5E7EB;
  Font-weight: bold;
  color: #E5E7EB;
}

.callheader {
  font-weight: 800;
  font-size: 24px;
}

.callcontent {
  font-weight: 400;
  font-size: 14px;
}

